<div class="menu">
  <p class="menu-label">
    Generale
  </p>
  <ul class="menu-list">
    <li><a >Dashboard</a></li>
  </ul>
  <ul class="menu-list">
    <li>
      <p class="menu-label">Produttori</p>
      <ul>
        <li><a>Lista produttori</a></li>
        <li><a>Aggiungi produttore</a></li>
      </ul>
    </li>
  </ul>
  <ul class="menu-list">
    <li>
      <p class="menu-label">Ristoratori</p>
      <ul>
        <li><a>Lista ristoratori</a></li>
        <li><a>Aggiungi ristoratore</a></li>
      </ul>
    </li>
  </ul>
  <ul class="menu-list">
    <li>
      <p class="menu-label">Ordini</p>
      <ul>
        <li><a>Lista ordini</a></li>
        <li><a>Nuovo ordine</a></li>
      </ul>
    </li>
  </ul>
  <p class="menu-label">
    Transazioni
  </p>
  <ul class="menu-list">
    <li><a>Pagamenti</a></li>
  </ul>
</div>


