<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navMenubd">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenubd" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <div class="dropdown is-right is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>Ciao Luca</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item">
              <a href="#" class="dropdown-item">
                Other
              </a>
              <a href="#" class="dropdown-item">
                Impostazioni
              </a>
              <hr class="dropdown-divider">
              <a href="#" class="dropdown-item">
                Esci
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
